<template>
	<view>
		<!-- <u-navbar title="登录" :is-back="false" :border-bottom="false"></u-navbar> -->
		<view class="img-bg">
			<image class="logo" src="@/static/logo.png" />
		</view>
		<view class="text">uniapp</view>

		<!-- #ifdef MP-WEIXIN -->
		<!-- 条件编译, 代码只有在微信小程序内才生效 -->
		<view class="base-submit-btn" size="medium" data-loginType="weixin" @click="auth">微信登录</view>
		<u-button class="base-submit-btn" type="success" size="medium" open-type="getPhoneNumber" @getphonenumber="onGetPhoneNumber">获取手机号</u-button>
		<!-- #endif -->

		<!-- #ifdef APP-PLUS -->
		<!-- // 条件编译, 代码只有在app内才生效 -->
		<u-button type="success" data-loginType="weixin" @click="auth">微信登录</u-button>
		<u-button type="success" data-loginType="qq" @click="auth">qq登录</u-button>
		<u-button type="success" data-loginType="sinaweibo" @click="auth">新浪登录</u-button>
		<!-- #endif -->

		<!-- #ifdef H5 -->
		<!-- 条件编译, 代码只有在H5内才生效 -->
		<view class="input-bg">
			<u-field class="input" v-model="account" label="账号" placeholder="请输入账号" clearable>
				<image class="icon" src="@/static/images/ic_account.png" slot="icon"></image>
			</u-field>
			<u-field class="input" v-model="pwd" label="密码" placeholder="请输入密码" password clearable>
				<image class="icon" src="@/static/images/ic_pwd.png" slot="icon"></image>
			</u-field>
		</view>
		<view class="base-submit-btn" size="medium" style="margin-top:60px;" @click="onClickLogin">登 录</view>
		<!-- #endif -->
	</view>
</template>

<script>
	var TorageUtils = require('../../common/utils/torageUtils.js')
	var ProjectConfig = require('../../configs/projectConfig.js')
	var API = require('../../configs/apiConfig.js')

	export default {
		data() {
			return {
				account: "",
				pwd: "",
			}
		},
		onReady() {},
		onLoad() {
			setTimeout(() => {
				this.loading = false;
			}, 2000)
		},
		methods: {
			onGetPhoneNumber(res){
				console.log("onGetPhoneNumber res", res)
			},
			auth(e) {
				let loginType = e.currentTarget.dataset.logintype
				// 获得定义在image标签上的logintype属性, 属性取值只能使用小写
				// 授权登录
				let that = this;
				uni.login({
					provider: loginType,
					// 给provider传入不同的值, 调用不同的应用登陆接口
					success(res) {
						// 登录成功后, 获取用户数据
						console.log("===uni.login===", res)
						uni.getUserInfo({
							provider: loginType,
							success(e) {
								var userInfoJson = JSON.stringify(e.userInfo);
								console.log(e);
								//  返回的数据是json格式
								var userInfo = {
									account: "",
									pwd: "",
									nickName: e.userInfo.nickName,
									avatarUrl: e.userInfo.avatarUrl
								}
								that.loginPro(userInfo);
							},
							fail() {
								uni.showToast({
									title: "获取用户信息",
									icon: "none"
								});
							}
						})
					},
					fail() {
						uni.showToast({
							title: "登录授权失败",
							icon: "none"
						});
					}
				})
			},
			onClickLogin() {
				console.log('点击登录');
				console.log(this.account);
				console.log(this.pwd);

				var userInfo = {
					account: this.account,
					pwd: this.pwd,
				}
				this.loginPro(userInfo);
			},
			loginPro(userInfo) {
				console.log(userInfo);
				uni.showLoading({
					title: '正在登录...'
				});
				setTimeout(() => {
					TorageUtils.SetStorageSync(ProjectConfig.LUserInfo, userInfo)
					TorageUtils.SetStorageSync(ProjectConfig.LToken, "123")
					uni.reLaunch({
						url: '../module1/index'
					});
					uni.showToast({
						icon: 'success',
						title: '登录成功'
					})
					uni.hideLoading()
				}, 1000);
			}
		},

	}
</script>

<style>
	.img-bg {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 80rpx;
	}

	.logo {
		margin-top: 40rpx;
		width: 150rpx;
		height: 150rpx;
		border-radius: 75rpx;
	}

	.text {
		width: 100%;
		text-align: center;
		margin: 60rpx 0;
	}

	.input-bg {
		margin: 30rpx;
	}

	.input {
		padding: 10px 1px;
	}

	.icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30rpx;
		height: 30rpx;
		/* padding-bottom: 4rpx; */
	}
</style>
