<template>
	<view>
		<base-text-list-view :dataArr="dataArr" @onClick="onClickItem" />
	</view>
</template>

<script>
	export default {
		data() {
			return {
				title: "Demo",
				dataArr: [{
						title: "ListView",
						url: './listView/listViewDemoList',
						value: ''
					},
					{
						title: "GridView",
						url: './gridView/gridViewDemoList',
						value: ''
					},
					{
						title: "Other",
						url: './other/otherDemoList',
						value: ''
					},
				],
			}
		},
		onReady() {
			uni.setNavigationBarTitle({
				title: this.title
			})
		},
		methods: {
			onClickItem(item) {
				if (item.url) {
					uni.navigateTo({
						url: item.url
					})
				}
			}
		}
	}
</script>

<style>

</style>
