<template>
	<view>
		<base-text-list-view :dataArr="dataArr" @onClick="onClickItem" />
	</view>
</template>

<script>
	export default {
		data() {
			return {
				title: "Other",
				dataArr: [{
						title: "base-navbar组件",
						url: './other/baseNavBarDemo',
						value: ''
					},
					{
						title: "弹框组件",
						url: './other/alertDemo',
						value: ''
						},
					{
						title: "获取设备系统信息",
						url: './other/systemInfo',
						value: ''
					}, {
						title: "AES、RSA、SHA256、MD5、base64使用",
						url: './other/encryptDemo',
						value: ''
					},
				],
			}
		},
		onReady() {
			uni.setNavigationBarTitle({
				title: this.title
			})
		},
		methods: {
			onClickItem(item) {
				if (item.url) {
					uni.navigateTo({
						url: item.url
					})
				}
			}
		}
	}
</script>

<style>

</style>
