<template>
	<view>
		<button @tap="getLocation">获取位置</button>
	</view>
</template>

<script>
	export default {
		data() {
			return {

			}
		},
		methods: {
			getLocation() {
				//先判断是否有权限
				uni.getSetting({
					success(res) {
						//获取设置成功  
						console.log(res.authSetting)
						if (!res.authSetting['scope.userLocation']) {
							//如果没开启录音麦克风权限提示打开  
							uni.openSetting({
								success(res) {
									//打开成功，提示获取录音权限  
									console.log(res.authSetting)
									uni.authorize({
										scope: 'scope.userLocation',
										success(res) {
											//位置权限获取成功 
											console.log('位置权限获取成功', res);
											uni.getLocation({
												type: 'wgs84',
												geocode: true,
												success: function(res) {
													console.log(res);
													console.log('当前位置的经度：' + res
														.longitude);
													console.log('当前位置的纬度：' + res
														.latitude);
												}
											});
										},
										complete() {
											console.log('调用接口完成');
										},
										fail(res) {
											uni.showToast({
												title: '您拒绝了权限',
												icon: 'none'
											})
											console.log(res);
										}
									})
								}
							});
						} else {
							uni.getLocation({
								type: 'wgs84',
								geocode: true,
								success: function(res) {
									console.log(res);
									console.log('当前位置的经度：' + res.longitude);
									console.log('当前位置的纬度：' + res.latitude);
								}
							});
						}
					}
				})
			}
		}
	}
</script>

<style>

</style>
